@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url("https://use.typekit.net/sub3lud.css");

/* Variables */

:root {
  --accent-color: #1e90ff;
  --container-width: 1000px;
  --container-width-mobile: 92vw;
}

/* General type rules */

body{
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

a{
  text-decoration: none;
  color: #000000;
}


/* Rules for headings */

h1, h2, h3, h4, h5, h6{
  font-family: "Degular", sans-serif;
  color: #000000;
  }

h1{
  font-weight: 700;
  font-size: 60px;
  margin-top: 1em;
  margin-bottom: 0;
  line-height: 1.2em;
}

h2{
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 30px;
  color: #000000;
}

.column h2{
  margin-top: -.2em;
}

h3{
  margin-top: 1em;
  margin-bottom: .25em;
  font-size: 35px;
  font-weight: 600;
}

h4{
  margin-top: 1em;
  margin-bottom: .25em;
}

h5{
  margin-top: 1em;
  margin-bottom: .25em;
}

h6{
  margin-top: 1em;
  margin-bottom: .25em;
}

p{
  margin-top: 4px;
  margin-bottom: .75em;
}




/* Page header */

header{
  max-width: var(--container-width);
  font-size: 125%;
  font-weight: 800;
  border-radius: 0px 0px 8px 8px;
  padding-top: 32px;
  margin: auto;
}



/* The text in the header */

.header-text{
  font-family: "Degular", sans-serif;
  font-size: 32px;
   text-align: left;
   color: #000000;
   padding-bottom: 8px;
   padding-top: 8px;
   padding-right: 2px;

}

.header-item{
  margin: 10px 8px 0 8px;
  padding: 0 10px 4px 10px;
  display: flex;
  flex-direction: row-reverse;
  float: right;
}

.header-item:hover{
  border-bottom: 3px solid #eee;
}

.active{
  border-bottom: 2px solid #1D1F50;
}

.active:hover{
  border-bottom: 2px solid #1D1F50;
}



/* Main content area */

.blog-container{
  max-width: var(--container-width);
  margin: auto;

  background: #fff;
  border-radius: 8px;

  margin-top: 12px;
  margin-bottom: 12px;
}

.intro{
  margin-bottom: 60px;
}

.article-card{
  transition: .2s;
}

.article-card:hover{
  transform: translateY(-3px);
}

.article-card img{
  max-width: 480px !important;
  margin-bottom: 10px !important;
}


/* Images in main content area */

.blog-container img{
  max-width: var(--container-width);
  border-radius: 4px;
  margin-bottom: -12px;
  margin-top: 20px;
}

.image-caption{
  font-style: italic;
  opacity: .6;
  padding-top: 24px;
  padding-bottom: 20px;
}



/* Author block in the blog */

.author-block{
  margin-top: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.photo-author{
  width: 48px;
  height: 48px;
  border-radius: 60px !important;
  display: inline;
  float: left;
  margin-right: 12px !important;
  margin-top: -2px !important;
}

.date{
  display: inline;
  color: #606060;
}


/* Footer */

footer{
  text-align: right;
  font-size: 1em;
  line-height: 1.6em;
  max-width: var(--container-width);
  margin: 80px auto 20px auto;
  background: #fff;
}

.socials{
  display: inline-block;
  text-align: left;
}

 .social-link{
  text-decoration: none;
  padding-right: 20px;
}

.social-link:hover{
  color: #FF4343;
}

/* Heart animation in footer */

.heart{
color: #ff4343;
animation-name: color;
animation-duration: 1s;
animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    color: #FF4343;
  }
  50% {
    color: #ee5E43;
  }
  100 {
    color: #FF4343;
  }
}



/* Flexbox stuff */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 6;
  padding-right: 20px;
}

.column-7 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 7;
  padding-right: 20px;
}

.column-8 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 8;
  padding-right: 20px;
}

/* Some extra stuff */

.text-center{
    text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.color-accent{
  color: #FF4343;
}

.color-dark{
  color: #1D1F50;
}

.color-lighter{
  color: #51557D;
}

.quote{
  border-left: 4px solid #ff4343;
  padding-left: 12px;
}




/* Anything below this only applies to mobile */

@media only screen and (max-width: 1040px){

  body{
     background-color: #fff;
     font-size: 16px;
  }

  .header-text{
    margin-left: 0px;
  }

  header{
    padding: 20px 0;
    text-align: left;
    border-radius: 0px;
    max-width: var(--container-width-mobile);
  }

.header-item{
  font-size: 16px;
}
  .author-block{
    margin-top: 20px;
    line-height: 1.4;
    font-size: 90%;
    margin-bottom: 20px;
  }

  .blog-container{
    border-radius: 0px;
    margin: auto;
    max-width: var(--container-width-mobile);
  }

  .blog-container img{
    max-width: var(--container-width-mobile);
  }

  .intro{
    margin-bottom: 30px;
  }

  .article-card img{
    max-width: var(--container-width-mobile) !important;
    margin-bottom: 10px !important;
  }

  footer{
text-align: left;
  }

  .row{
    max-width: var(--container-width-mobile);
    overflow-wrap: break-word;
  }

  .column, .column-7, .column-8 {
    display: block;
    flex-direction: column;
    width: auto;
    flex-basis: 100%;
    padding: 0;
    margin: auto;
  }

}
